<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PythonPaths" value= "C:\Users\USER\AppData\Local\Programs\Python\Python38\python38.zip;C:\Users\USER\AppData\Local\Programs\Python\Python38\Lib\;C:\Users\USER\AppData\Local\Programs\Python\Python38\DLLs\;C:\Users\USER\AppData\Local\Programs\Python\Python38\Lib\site-packages" />
  </appSettings>
</configuration>